body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #ffc72c; /* McDonald's yellow */
  padding: 12px 20px;
}

.navbar a {
  color: #d6001c; /* McDonald's red */
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.navbar a:hover {
  text-decoration: underline;
  color: #a50015;
}